<script src="https://cdn.jsdelivr.net/npm/@braid/vue-formulate@2.4.1/dist/formulate.min.js"></script>
<link rel="stylesheet" href="https://surveyaz.netlify.app/assets/css/formulate.css">
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>


<div id="app">
  
  <formulate-form
    v-if="!results"
    v-model="values"
    @submit="handleSubmission"
  >
    <formulate-input
      name="email"
      type="email"
      label="What is your email?"
      validation="required|email"
      help="We wont’t sell it...for cheap."
      placeholder="jon@example.com"
    ></formulate-input>

    <!-- Try changing the "type" to select, checkbox etc.. -->
    <formulate-input
      name="opinion"
      type="radio"
      label="What do you think of Vue Formulate?"
      :options="{
        good: 'It’s good',
        great: 'It’s great',
        install: 'I’m installing it now.'
      }"
      validation="required"
    ></formulate-input>
    <formulate-input
      label="Input mode numeric"
      type="text"
      inputmode="numeric"
      pattern="[0-9]*"
      help="Only shows number keyboard on mobile"
    ></formulate-input>
    {{ values }}
    <formulate-input
      type="submit"
      label="Save feedback"
    ></formulate-input>

  </formulate-form>
  <div v-else>
    <pre>{{ results }}</pre>
    <formulate-input
      type="button"
      label="Reset form"
      @click.native="reset"
    />
  </div>
</div>




<script>
/**
 * When using the formulate.min.js distribution you
 * need to use VueFormulate.default when registering.
 **/
Vue.use(VueFormulate)


new Vue({
  el: '#app',
  data: {
    results: false,
    values: {}
  },
  methods: {
    handleSubmission (data) {
      this.results = data
    },
    reset () {
      this.results = false
    }
  }
})
</script>
